@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f5f9;
  }

  .dark ::-webkit-scrollbar-track {
    background-color: #1e293b;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 9999px;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #475569;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: #64748b;
  }

  ::-webkit-scrollbar-corner {
    background-color: #f1f5f9;
  }

  .dark ::-webkit-scrollbar-corner {
    background-color: #1e293b;
  }

  
  html {
    scrollbar-width: thin;
    scrollbar-color: rgb(148 163 184) rgb(241 245 249);
  }

  html.dark {
    scrollbar-color: rgb(71 85 105) rgb(30 41 59);
  }

  
  html {
    scroll-behavior: smooth;
  }
}
/* updated upto 18feb,2026 */